body {
  padding: 0; margin: 0;
  font-family: Courier;
  text-align: center;
  background-image: url(background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 25px;
  margin-top: 30px;
}
.button {
  color: #FFFFFF;
  padding: 17px;
  font-family: Courier;
  font-size: 20px;
  text-decoration: none;
}
.button2 {
  padding: 25px;
}
